/* styles.css */

/* Estilos generales */
body, h1, h2, h3, p, ul, li, nav, form, label, input, select, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #004080;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #004080;
}

footer {
    background-color: #004080;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
}

/* Estilos específicos para cuentas y formularios */
.cuentas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cuenta, .seleccion-cuenta {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.seleccion-cuenta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cuenta h3 {
    color: #004080;
}

.transferencias, .pagos {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}

label {
    margin-bottom: 5px;
}

input, select, button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #004080;
    color: #fff;
    cursor: pointer;
}

/* Estilos para el historial de transacciones */
.transacciones-lista {
    list-style: none;
    padding: 0;
}

.transacciones-lista li {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
